extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= dataP.project_name

        p= dataP.description

      .project-tech-links-box.box
        h6 Technologies
        ul

        each i in dataP.technologies
          li= i

        br
        a.btn-link(class = 'btn-live', href=`${dataP.live_link}`, target="_blank") Live Demo
        a.btn-link(class = 'btn-repo', href=`${dataP.github_Link}`, target="_blank") GitHub Repo

    .project-img-box.box

      img.project-img(src=`../${dataP.image_urls.display[0]}`, alt=`${dataP.project_name}`)
      img.project-img(src=`../${dataP.image_urls.display[1]}`, alt=`${dataP.project_name}`)
      img.project-img(src=`../${dataP.image_urls.display[2]}`, alt=`${dataP.project_name}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
